.theme-dark {
  /*---Colors---*/
  --color-primary: #a1f98f;
  --rgb-primary: 161, 249, 143;
  --transparent-primary: rgba(161, 249, 143, 0.6);
  --color-secondary: #e78ff9;
  --rgb-secondary: 231, 143, 249;
  --transparent-secondary: rgba(231, 143, 249, 0.6);
  /*---Backgrounds---*/
  --background-primary: #141414;
  --background-primary-alt: #141414;
  --background-secondary: #141414;
  --background-secondary-alt: #141414;
  --background-modifier-border: #141414;
  --background-modifier-form-field: #141414;
  /*---Text---*/
  --text-accent: var(--color-primary);
  --text-accent-hover: var(--color-primary);
  --text-normal: #d1d1d1;
  --text-muted-rgb: #ff2f00;
  --text-faint: var(--color-primary);
  --text-error: #CF6679;
  --text-error-hover: #ff2f00;
  --text-highlight-bg: rgba(var(--rgb-primary), 0.40);
  --text-highlight-bg-active: #ff2f00;
  --text-selection: rgba(var(--rgb-primary), 0.25);
  --text-on-accent: #141414;
  /*---Interactive---*/
  --interactive-normal: var(--color-primary);
  --interactive-hover: var(--color-primary);
  --interactive-accent: var(--color-primary);
  --interactive-accent-rgb: var(--color-primary);
  --interactive-accent-hover: var(--color-primary);
  --interactive-success: var(--color-primary);
  /*---Scrollbar---*/
  --scrollbar-bg: rgba(95, 94, 94, 0.5);
  --scrollbar-thumb-bg: rgba(95, 94, 94, 0.5);
  --scrollbar-active-thumb-bg: rgba(95, 94, 94, 0.5);
}

/*---Title---*/
.inline-title {
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*---Typographic---*/
body {
  --bold-color: var(--color-primary);
  --italic-color: var(--color-secondary);
}

/*---Links---*/
body {
  --link-color: var(--text-accent);
  --link-color-hover: var(--text-accent-hover);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-weight: none;
  --link-unresolved-color: var(--text-accent);
  --link-unresolved-opacity: 0.6;
  --link-unresolved-decoration-style: underline;
  --link-unresolved-decoration-color: var(--text-accent);
  --link-external-color: var(--text-accent);
  --link-external-color-hover: var(--text-accent-hover);
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;
}

/*---Checkbox---*/
body {
  --checkbox-radius: 50%;
  --checkbox-color: var(--color-primary);
  --checkbox-color-hover: var(--color-primary);
  --checkbox-border-color: var(--color-primary);
  --checkbox-border-color-hover: var(--color-primary);
  --checklist-done-decoration: none;
  --checklist-done-color: none;
  --checkbox-margin-inline-start: none;
}

/*---Tags---*/
a.tag[href],
.cm-tag {
  color: var(--color-primary);
  background-color: rgba(var(--rgb-primary), 0.1);
}


/*---Callout---*/
.callout-title {
  padding: var(--size-4-2);
  gap: 6px;
}

.callout-content {
  padding: var(--size-4-2);
}

.callout-content> :first-child {
  margin-top: 0px;
}

.callout-content> :last-child {
  margin-bottom: 0px;
}

.callout-fold {
  margin-left: auto;
  padding-right: 0;
}

.callout:is([data-callout="primary"], [data-callout="secondary"]) {
  color: rgb(var(--callout-color));
  font-size: 14px;
}

.callout:is([data-callout="primary"], [data-callout="secondary"]) {
  color: rgb(var(--callout-color));
  --checkbox-border-color-hover: rgb(var(--callout-color));
}

/* Primary */
.callout[data-callout="primary"] {
  --callout-color: var(--rgb-primary);
  --callout-icon: check;
  --icon-size: 1.2em;
}

.callout[data-callout="primary"]>.callout-title {
  --callout-color: var(--rgb-primary);
}

.callout[data-callout="primary"]>.callout-content {
  font-size: 14px;
  color: var(--color-primary);
  --checkbox-color: var(--color-primary);
  --checkbox-color-hover: var(--color-primary);
  --checkbox-border-color: var(--color-primary);
  --checklist-done-decoration: line-through;
  --checklist-done-color: rgba(var(--rgb-primary), 0.4);
  --list-marker-color: var(--color-primary);
  --text-faint: var(--color-primary);
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary);
}

.callout[data-callout="primary"]>.callout-content>.has-list-bullet {
  margin-block: 0;
}

/* Secondary */
.callout[data-callout="secondary"] {
  --callout-color: var(--rgb-secondary);
  --callout-icon: check;
  --icon-size: 1.2em;
}

.callout[data-callout="secondary"]>.callout-title {
  --callout-color: var(--rgb-secondary);
}

.callout[data-callout="secondary"]>.callout-content {
  font-size: 14px;
  color: var(--color-secondary);
  --checkbox-color: var(--color-secondary);
  --checkbox-color-hover: var(--color-secondary);
  --checkbox-border-color: var(--color-secondary);
  --checklist-done-decoration: line-through;
  --checklist-done-color: rgba(var(--rgb-secondary), 0.4);
  --list-marker-color: var(--color-secondary);
  --text-faint: var(--color-secondary);
  --link-color: var(--color-secondary);
  --link-color-hover: var(--color-secondary);
}

.callout[data-callout="secondary"]>.callout-content>.has-list-bullet {
  margin-block: 0;
}

/*---Button---*/
.view-content>.markdown-reading-view>.markdown-preview-view>.markdown-preview-section>div>p>button {
  background-color: rgba(var(--rgb-primary), 4%);
  color: var(--color-primary);
  border: none;
  border-radius: 6px;
  box-shadow: none;
  font-size: 10px;
  transform: none;
  transition: all .1s linear;
  letter-spacing: 2px;
}

.view-content>.markdown-reading-view>.markdown-preview-view>.markdown-preview-section>div>p>button:hover {
  background: rgba(var(--rgb-primary), 8%);
}

/* List */
:is(.cm-formatting-list-ul, .markdown-rendered ul > li)>.list-bullet::after {
  border: 1px solid var(--list-marker-color);
}

:is(ul:not(li > ul) > li > ul > li,
  ul:not(li > ul) > li > ul > li > ul > li > ul > li,
  ul:not(li > ul) > li > ul > li > ul > li > ul > li > ul > li > ul > li,
  ul:not(li > ul) > li > ul > li > ul > li > ul > li > ul > li > ul > li ul > li > ul > li)>.list-bullet::after,
:is(.HyperMD-list-line-2, .HyperMD-list-line-4, .HyperMD-list-line-6, .HyperMD-list-line-8) .cm-formatting-list-ul>.list-bullet::after {
  background-color: transparent;
}

li.is-collapsed .list-bullet:after,
.is-collapsed ~ .cm-formatting-list .list-bullet:after {
  --background-modifier-active-hover: var(--rgb-primary);
  background-color: var(--list-marker-color-collapsed);
  box-shadow: 0 0 0 4px rgba(var(--background-modifier-active-hover), 0.1);
}

/* Table */
table:not(.dataview) {
  --table-header-background: #191919;
  --table-header-background-hover: #191919;
  --table-header-color: #dadada;
  --table-text-color: #939393;
  --table-text-size: 16px;
  --table-background: #212121;
  --table-row-background-hover: #282828;
  --table-row-alt-background: #212121;
  --table-row-alt-background-hover: #282828;
}

.view-content>.markdown-reading-view>.markdown-preview-view>.markdown-preview-section>div>table:not(.dataview) {
  max-width: 100%;
  width: 100%;
}

.view-content>.markdown-reading-view>.markdown-preview-view>.markdown-preview-section>div>table>tbody>tr>td:not(.dataview) {
  border-top: 0px;
  border-inline: none;
}

table:not(.dataview)>thead>tr>th {
  text-align: center;
  border: none;
  padding: 14px 0;
  font-size: 18px;
}

.view-content>.markdown-reading-view>.markdown-preview-view>.markdown-preview-section>div>table:not(.dataview)>tbody>tr>td {
  padding: 16px 16px;
  text-align: center;
}

table:not(.dataview)>tbody>tr:hover>td {
  color: var(--interactive-accent-hover);
}

table:not(.dataview)>tbody>tr>td>.internal-link {
  color: var(--interactive-accent);
}

table:not(.dataview)>tbody>tr:hover>td>.internal-link {
  color: var(--interactive-accent-hover);
}
